<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/hibernate_practice</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

<!--        //second level cache settings-->
        <property name="cache.use_second_level_cache">true</property>
        <property name="cache.region.factory_class">org.hibernate.cache.ehcache.internal.EhcacheRegionFactory</property>

        <mapping class="com.vivek.entities.Student"/>
        <mapping class="com.vivek.entities.Address"/>
        <mapping class="com.vivek.entities.StudentCert"/>
        <mapping class="com.vivek.entities.Voter"/>
        <mapping class="com.vivek.entities.Vote"/>

        <mapping class="com.vivek.entities.Question"/>
        <mapping class="com.vivek.entities.Answer"/>

        <mapping class="com.vivek.entities.Employee"/>
        <mapping class="com.vivek.entities.Project"/>
    </session-factory>
</hibernate-configuration>